@import '/styles/globals';

.filter_cases {
  display: flex;
  justify-content: space-evenly;
  width: 500px;

  .filter_case {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 400px;
    border-radius: 3px;
    background: $bg-gray;
  }
}
