@import '/styles//globals';

.page {
  height: 100vh;
  width: 100vw;

  @import './res/+';

  .container {
    display: grid;

    width: 100vw;
    height: calc(100vh - #{$nav-h});

    .A {
      grid-area: A;
      background: red;
    }
    .B {
      grid-area: B;
      background: green;
    }
    .C {
      grid-area: C;
      background: orange;
    }
    .D {
      grid-area: D;
      background: skyblue;
    }
    .E {
      grid-area: E;
      background: darkorchid;
    }
  }
}
