@import '/styles//globals';

@import './res/+';

.container {
  background: #ede6e0;

  width: 100%;
  height: 100% !important; // should not need: inline style - hack due to weird build transformation removing height

  .Ea {
    grid-area: Ea;
  }

  .Eb {
    grid-area: Eb;
    width: 100%;
    height: 100%;
  }

  .Ec_l {
    grid-area: Ec_l;
  }
  .Ec_r {
    grid-area: Ec_r;
  }

  * {
    background: #ede6e0;
  }
}
