@import '/styles//globals';

@import './res/+';

.container {
  background: orange;

  width: 100%;
  height: 100%;

  > {
    width: 100%;
    height: 100%;
  }

  .Eb_1 {
    grid-area: Eb_1;
    background: purple;
  }
  .Eb_2 {
    grid-area: Eb_2;
    background: green;
  }
  .Eb_3 {
    grid-area: Eb_3;
    background: lightcoral;
  }
  .Eb_4 {
    grid-area: Eb_4;
    background: blue;
  }

  .Eb_5 {
    grid-area: Eb_5;
    background: lightblue;
  }
  .Eb_6 {
    grid-area: Eb_6;
    background: lightgreen;
  }
  .Eb_7 {
    grid-area: Eb_7;
    background: lawngreen;
  }
  .Eb_8 {
    grid-area: Eb_8;
    background: darkcyan;
  }
}
