@import '/styles//globals';

@import './res/+';

.navbar {
  height: $nav-h;
  width: 100%;

  .A {
    grid-area: A;
  }
  .B {
    grid-area: B;
  }
  .C {
    grid-area: C;

    @media (max-width: #{$lg}) {
      display: none;
    }
  }
}
